body{

	background-image: url('E:\IMG_1975.jpg');
	background-repeat: no-repeat;
	background-size: 500px auto;
	background-position: top right;



}

/*body{
	background: #ffff22 url('E:\IMG_1975.jpg') no-repeat top center 
	
}*/