.icons{
	overflow: hidden;   /* float krar jnno jeno porer likha pashe na thake*/
}

.icons ul{
	margin: 0;
	padding: 0;

}

.icons ul li{
	list-style: none;
	float: left;
	margin-right: 10px;
}

.icons ul li:last-child{
	margin-right: 0;
}

.icons ul li a{
	background-image: url('icon.png');
	width: 45px;
	height: 45px;
	display: inline-block;

	border: 2px solid grey;
	border-radius: 50%;

	background-repeat: no-repeat;

	background-position: 0 0;
	transition: 1s;
}

.icons ul li:hover:nth-child(1) a{
	background-position: 0 -47px;
}

.icons ul li:nth-child(2) a{
	background-position: -373px 0px;
}

.icons ul li:hover:nth-child(2) a{
	background-position: -373px -47px;
}

.icons ul li:nth-child(3) a{
	background-position: -140px  0px;
}

.icons ul li:hover:nth-child(3) a{
	background-position: -140px  -47px;
}


.icons ul li:nth-child(4) a{
	background-position: -187px  0px;
}

.icons ul li:hover:nth-child(4) a{
	background-position: -187px  -47px;
}

.icons ul li:nth-child(5) a{
	background-position: -234px   0px;
}

.icons ul li:hover:nth-child(5) a{
	background-position: -234px   -47px;
}