h2{
	text-align: center;
	font-size: 90px;

	text-shadow: 2px 0  lime, 0 2px lime, -2px 0  lime, 0 -2px lime;
}

.c1{
	width: 400px;
	text-align: center;
	margin: auto;
	border: 1px solid grey;


}

.c1 img{
	width: 100%;
}

.c1 h3{
	margin: 0;
	font-size: 20px;
}

.container{
	padding: 10px;
}



.c1:hover{
	box-shadow: 4px 8px 10px rgba(255,0,0,0.2), -5px 5px 10px rgba(255,0,0,0.2) ;
}
